<div class="d-flex justify-content-center align-items-center spiner">
    <div class="spinner-border text-success align-middle" style="width: 5rem; height: 5rem; border-width: 0.5em" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
</div>

@code {

}
